* {box-sizing: border-box;}
body{
    margin: 0;
    font-family: 'lato', sans-serif;
}
.main{
    font-family: 'lato', sans-serif;
    font-size: 60px;
    margin: 0 5px;
    font-style: italic;   
    color: rgb(42, 42, 204);
}
.main-down{
    margin-top: 6px;
    font-style: italic;
     margin: 0 5px; 
}
.sign-in{
    color: #fff;
    text-decoration: none;
}
.sign-up{
    color: #fff;
    text-decoration: none;
}
.header-right button{
    background-color: rgb(21, 21, 240);
    padding: 5px;
    width: 100px;
}
.header{
     overflow: hidden; 
     margin: 0;
     
}
.header-right{
     position: absolute; 
    float: right;
    right: 15px;
    top: 20px;
}


.blogTite {
    font-size: 150%;
    font-family: 'lato', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    
}
.blogText {
     font-family: 'lato' sans-serif;
     padding: 5px;
     margin-left: 20px;

}
.blogAuthor {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 10px;
    font-family: 'lato',sans-serif, cursive;
    font-size: 30px;
    display:table-row;
    justify-content: space-between;
}
.blogContent{

}
.postMainLayout{
    display: flex;
    flex-direction: row;
    display:table;
}
.postAuthor{
    display:table-cell;
    text-align: left;
    padding-left: 22px;
}
.postEdit{
    color:white;
    background-color: #e60073;
    box-shadow: 0px 5px  12px -4px #e60073;
    font-family: 'lato', sans-serif;
    margin: 10px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    display:table-cell;
    text-align: center;
    width:70px;
  }
  .postLike{
    color:white;
    background-color: #e60073;
    box-shadow: 0px 5px  12px -4px #e60073;
    font-family: 'lato', sans-serif;
    margin: 10px;
    cursor: pointer;
    padding: 5px 18px;
    font-size: 14px;
    display:table-cell;
    text-align: right;
  }
  .commentPost {
    padding-left: 5px;
    outline: none;
    font-family: 'lato';
  }
  .txtBlog{
    display:table-cell;
    overflow: scroll;
  }

/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */