* {box-sizing: border-box;}
body{
    margin: 0;
    font-family: 'lato', sans-serif;
}
.main{
    font-family: 'lato', sans-serif;
    font-size: 60px;
    margin: 0 5px;
    font-style: italic;   
    color: rgb(42, 42, 204);
}
.modal, .modal1, .modal2{
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;   /* enable scroll if needed */
    background-color: rgb(0, 0, 0, 0.4);

}
#up{
    color: rgb(50, 50, 228);
    cursor: pointer;
}

.modal-content{
    position: relative;
    background-color: #fefefe;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.close, .close1, .close2{
    position: absolute;
    color: #aaa;
    top: 40px;
    right: 50px;
    font-size: 25px;
    font-weight: bold;

}

.close:hover,
.close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close1:hover,
.close1:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close2:hover,
.close2:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
h2{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    font-size: 18px;
}
#submit-btn, #submit-btn1{
   width: 100%;
   background-color: rgb(118, 194, 5);
   color: #fff;
   margin-top: 2%;
    border: transparent;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;

}
hr{
border:solid 0.3px black;
width: 100%;
}

input{
    margin-top: 0px;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 3%;
    border: transparent;
    font-size: 15px;
    border-radius: 5px;
}
.notmember{
    text-align: center;
}
#up{
    color: rgb(30, 30, 240);
    cursor: pointer;
}

.main-down{
    margin-top: 6px;
    font-style: italic;
     margin: 0 5px; 
}
.sign-in{
    color: #fff;
    text-decoration: none;
}
.sign-up{
    color: #fff;
    text-decoration: none;
}
.header-right button{
    background-color: rgb(21, 21, 240);
    padding: 5px;
    width: 100px;
}
.header{
     overflow: hidden; 
     margin: 0;
     
}
.header-right{
     position: absolute; 
    float: right;
    right: 15px;
    top: 20px;
}


.blogTitle {
    font-size: 120%;
    font-family: 'lato', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    
}
.blogText {
     font-family: 'lato' sans-serif;
     padding: 5px;
     margin-left: 20px;

}
.blogAuthor {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 10px;
    font-family: 'lato',sans-serif, cursive;
    font-size: 30px;
    display:table-row;
    justify-content: space-between;
}
.postMainLayout{
    display: flex;
    flex-direction: row;
    display:table;
}
.postAuthor{
    display:table-cell;
    text-align: left;
    padding-left: 22px;
}
.postEdit{
    color:white;
    background-color: #e60073;
    box-shadow: 0px 5px  12px -4px #e60073;
    font-family: 'lato', sans-serif;
    margin: 10px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    display:table-cell;
    text-align: center;
    width:70px;
  }
  .like{
    color:white;
    background-color: #e60073;
    box-shadow: 0px 5px  12px -4px #e60073;
    font-family: 'lato', sans-serif;
    margin: 10px;
    cursor: pointer;
    padding: 5px 18px;
    font-size: 14px;
    display:table-cell;
    text-align: right;
  }
  
  .commentPost {
    padding-left: 5px;
    outline: none;
    font-family: 'lato';
  }
  .txtBlog{
    display:table-cell;
    overflow: scroll;
  }

 
/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */